*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.wrap-pdf-container{
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pdf-container {
    height: 90vh;
    overflow: auto;
}
/* .react-pdf__Page{
    
} */
.react-pdf__Page__canvas{
    margin-bottom: 5px;
    width: 800px;
}